<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ">
        <h3>Sitemap</h3>
        <ul class="list-unstyled three-columns">
          <li>Home</li>
          <li>About</li>
          <li>Company</li>
          <li>Code</li>
          <li>Design</li>
          <li>Host</li>
          <li>solutions</li>
          <li>Sitemap</li>
          <li>Contact</li>
        </ul>
        <ul class="list-unstyled social-list">
          <li><img src="../../../imges/social-facebook-button-blue-icon.png" alt="facebook"></li>
          <li><img src="../../../imges/Google-Plus-icon (2).png" alt="Google-Plus"></li>
          <li><img src="../../../imges/Path-icon.png" alt="facebook"></li>
          <li><img src="../../../imges/RSS-icon.png " alt="facebook"></li>
          <li><img src="../../../imges/Twitter-icon (1).png" alt="facebook"></li>
          <li><img src="../../../imges/Email-icon.png " alt="facebook"></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 ">
        <h3>Latest Articles</h3>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media object" src="../../../imges/buzzfeed-icon.png" alt="buzzfeed">

          </a>
           <div class="media-pody">
              <h4>Programming</h4>
              This is Some Text About Programming Dewcribe The Media of Bootstrap 3.2.0
            </div>
        </div>

         <div class="media">
            <a class="pull-left" href="#">
              <img class="media object" src="../../../imges/dribbble-icon.png" alt="buzzfeed">

            </a>
             <div class="media-pody">
                <h4>Coding</h4>
                This is Some Text About Programming Dewcribe The Media of Bootstrap 3.2.0
             </div>
         </div>

         <div class="media">
              <a class="pull-left" href="#">
                <img class="media object" src="../../../imges/linkedin-icon.png" alt="buzzfeed">

              </a>
               <div class="media-pody">
                  <h4>Web Design</h4>
                  This is Some Text About Programming Dewcribe The Media of Bootstrap 3.2.0
                </div>

          </div>

      </div>

      <div class="col-lg-4 ">
        <h3>Our Awesome Work</h3>
        <img class="img-thumbnail img-responsive" src="../../../imges/a.png" alt="1">
        <img class="img-thumbnail img-responsive" src="../../../imges/b.jpeg" alt="2">
        <img class="img-thumbnail img-responsive" src="../../../imges/c.jpeg" alt="3">
        <img class="img-thumbnail img-responsive" src="../../../imges/d.jpeg" alt="4">
      </div>

    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; 2021 <span>AHMED Khaled </span> .Inc
  </div>
</section>
