<section class="features text-center">
  <div class="container">
    <h1>Our Features</h1>
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="feat">
          <span class="glyphicon glyphicon-ok"></span>
          <h3>100% Responsive</h3>
          <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
       </div>
      </div>

      <div class="col-lg-3 col-md-6 ">
        <div class="feat">
          <span class="glyphicon glyphicon-thumbs-up "></span>
          <h3>Retina Ready</h3>
          <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
       </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat">
          <span class="glyphicon glyphicon-eye-open"></span>
          <h3>Awesome Display</h3>
          <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
       </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feat">
          <span class="glyphicon glyphicon-pencil"></span>
          <h3>Well Documented</h3>
          <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
       </div>
      </div>


    </div>
 </div>
</section>
