<section class="price-table text-center">
  <div class="container">
    <h1>Our Amazing Prices</h1>
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
          <h2 class="text-primary">Hosting</h2>
          <p class="center-block">40$</p>
          <ul class="list-unstyled">
            <li> Space: 30GB</li>
            <li> Emails: 20</li>
            <li>Ips: 2ip</li>
            <li>Database: 10</li>
            <li>Ftp Accounts: 5</li>
          </ul>
          <a href="#" class="btn btn-primary">Order Now</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
          <h2 class="text-success">Vps</h2>
          <p class="center-block">60$</p>
          <ul class="list-unstyled">
            <li> Space: 50GB</li>
            <li> Emails: 30</li>
            <li> Ips: 3ip</li>
            <li>Database: 20</li>
            <li>Ftp Accounts: 10</li>
          </ul>
          <a href="#" class="btn btn-success">Order Now</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
           <h2 class="text-info">Dedicated</h2>
           <p class="center-block">80$</p>
          <ul class="list-unstyled">
            <li> Space: 80GB</li>
            <li> Emails: 40</li>
            <li>Ips: 8ip</li>
            <li>Database: 30</li>
            <li>Ftp Accounts: 15</li>
          </ul>
          <a href="#" class="btn btn-info">Order Now</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="price-box">
           <h2 class="text-danger">Cloud</h2>
           <p class="center-block">100$</p>
          <ul class="list-unstyled">
            <li> Space: 90GB   </li>
            <li> Emails: 50   </li>
            <li>   Ips  : 10ip  </li>
            <li>  Database: 50   </li>
            <li>Ftp Accounts:50</li>
          </ul>
          <a href="#" class="btn btn-danger">Order Now</a>
        </div>
      </div>

    </div>
  </div>
</section>

