
*{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about h1
{
    font-weight:bold ;
    margin-bottom: 30px;
}
.about
{
    padding-top: 90px;
    padding-bottom: 90px;
}
.about.lead
{
    color: rgb(199, 199, 199);
    font-size: 18px;
}
.about h1 span
{
    color: red;
}

@media(max-width:768px){
    .about  span
    {
        color: red;
        font-weight: bold;
    }
  }

