<div class="container">
  <div class="row">

    <form autocomplete="on" #form="ngForm" (submit)="onSubmit(form)" >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="login.email" ngModel name="email" #email="ngModel" required minlength="5" maxlength="20">

        <div class="alert alert-danger" *ngIf="email.touched && !email.valid ">
          <div *ngIf="email.errors?.required ">Email is required</div>
          <div *ngIf="email.errors?.minlength ">minimum is 5 characters</div>
          <div *ngIf="email.errors?.maxlength ">maximum is 20 characters</div>

      </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="login.password" ngModel name="password" #password="ngModel" required minlength="8" maxlength="20" pattern="">

        <div class="alert alert-danger" *ngIf="password.touched && !password.valid ">
          <div *ngIf="password.errors?.required ">Password is required</div>
          <div *ngIf="password.errors?.minlength ">minimum is 8 characters</div>
          <div *ngIf="password.errors?.maxlength ">maximum is 20 characters</div>




        </div>
      </div>
      <!-- <div class="form-group">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmpassword" [(ngModel)]="confirmpass" ngModel name="confirmpassword" #confirmpassword="ngModel" required minlength="8" maxlength="20" pattern="{{login.password}}">

        <div class="alert alert-danger" *ngIf="confirmpassword.touched && !confirmpassword.valid ">
          <div *ngIf="confirmpassword.errors?.required ">Confirm Password is required</div>

          <div *ngIf="confirmpassword.errors?.pattern ">Password is Wrong</div>

        </div>
      </div> -->
    </form>
    <button class="btn btn-danger d-flex justify-content-center" type="submit" >Login</button>


  </div>
</div>



