<section class="contact-us text-center">
  <div class="fields">
    <div class="container">
      <i class="fa fa-headphones fa-5x" aria-hidden="true"></i>
      <h1>Tell Us What You Fell</h1>
      <p class="lead">Feel Free To Contact Us Anytime</p>
      <div class="row">


          <form role="form" >
            <div class="col-md-6">
              <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Emaill">
              </div>
              <div class="form-group">
               <input type="text" class="form-control input-lg" placeholder="Cell Phone">
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control input-lg" placeholder="Your Message"  ></textarea>

              </div>
              <button type="button" class="btn btn-danger btn-lg btn-block">Contact Us</button>

            </div>


          </form>

        </div>
      </div>
    </div>

</section>
