<section class="our-clients">
  <div class="container">
    <div class="class">
      <ul class="list-unstyled">

        <li class="col-md-2 col-xs-4">
          <img class="img-responsive center-block" src="imges/ACC-logo.png" alt="Acc">
        </li>
        <li class="col-md-2 col-xs-4">
          <img class="img-responsive center-block" src="imges/Ashland-logo.jpg" alt="Bcc">
        </li>
        <li class="col-md-2 col-xs-4">
          <img class="img-responsive center-block" src="imges/Benecol-agency-logo.png" alt="Dcc">
        </li>
        <li class="col-md-2 col-xs-4">
          <img class="img-responsive center-block" src="imges/Catalent-logo.png" alt="Ncc">
        </li>
        <li class="col-md-2 col-xs-4">
          <img class="img-responsive center-block" src="imges/eppendorf-logo.jpg" alt="Wcc">
        </li>
        <li class="col-md-2 col-xs-4">
          <img class="img-responsive center-block" src="imges//nolato-logo (1).jpg" alt="Kcc">
        </li>
      </ul>



    </div>
  </div>
</section>
