<section class="testimonials text-center ">
  <div class="container">
    <h1> What Our Clients Say  </h1>



        <!-- carousel-->

        <div  id="myslide"  class="carousel slide"  data-ride="carousel" >
          <!-- Indicators -->


          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <p class="lead">In this post I'll outline 8 image loading optimization techniques to minimize both the bandwidth used for loading images on the web and the CPU usage for image display. </p>
              <span> Ahmed Khaled</span>
            </div>
              <div class="item">
              <p class="lead">In this post I'll outline 8 image loading optimization techniques to minimize both the bandwidth used for loading images on the web and the CPU usage for image display. </p>
              <span>Fatma Khaled</span>
            </div>

            <div class="item">
              <p class="lead">In this post I'll outline 8 image loading optimization techniques to minimize both the bandwidth used for loading images on the web and the CPU usage for image display. </p>
              <span>Hanan Khaled</span>
            </div>


          </div>
          <ol class="carousel-indicators ">
              <li  data-target="#myslide"  data-slide-to="0" class="active">
                <img src="../../../imges/1.png" alt="Ahmed">
              </li>
              <li data-target="#myslide" data-slide-to="1">
                <img src="../../../imges/2.png" alt="Fatma">
              </li>
              <li data-target="#myslide" data-slide-to="2">
                <img src="../../../imges/3.png" alt="Hanan">
              </li>
            </ol>
        </div>
    </div>
</section>
