<section class="statistics text-center">
  <div class="data">
    <div class="container">
      <h1>Our Main Statistics </h1>
      <div class="row">


        <div class="col-lg-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-users fa-5x"></i>
            <p>9,555</p>
            <span> Satisfied Users</span>

          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-comments fa-5x"></i>
            <p>25,555</p>
            <span>Posted Comments</span>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-suitcase fa-5x"></i>
            <p>3,555</p>
            <span>Projects Done</span>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="stats">
            <i class="fa fa-support fa-5x"></i>
            <p>95,555</p>
            <span>Tickets Archieved</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
