<section class="our-team text-center">
  <div class="team">
    <div class="container">
      <h1>Meet Our Awesome Team</h1>

      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="person">
            <img class="img-circle" src="../../../imges/4.png" alt="Ahmed Khaled">
            <h3>Ahmed Khaled</h3>
            <p> This Is Ahmed Khaled The Owner And Founder Of The Amazing Website Css</p>
            <i class="fa fa-google-plus fa-lg" ></i>
            <i class="fa fa-facebook fa-lg" ></i>
            <i class="fa fa-twitter fa-lg" ></i>
            <i class="fa fa-youtube fa-lg"></i>

          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="person">
            <img class="img-circle" src="../../../imges/5.png" alt="Hanan Khaled">
            <h3>Hanan Khaled</h3>
            <p> This Is Hanan Khaled The Owner And Founder Of The Amazing Website Html</p>
            <i class="fa fa-google-plus fa-lg" ></i>
            <i class="fa fa-facebook fa-lg" ></i>
            <i class="fa fa-twitter fa-lg" ></i>
            <i class="fa fa-youtube fa-lg"></i>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="person">
            <img class="img-circle" src="../../../imges/6.png" alt="Mohamed Khaled">
            <h3>Mohamed Khaled</h3>
            <p> This Is Mohamed Khaled The Owner And Founder Of The Amazing Website Java</p>
            <i class="fa fa-google-plus fa-lg" ></i>
            <i class="fa fa-facebook fa-lg" ></i>
            <i class="fa fa-twitter fa-lg" ></i>
            <i class="fa fa-youtube fa-lg"></i>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="person">
            <img class="img-circle" src="../../../imges/7.png" alt="Fatma Khaled">
            <h3>Fatma Khaled</h3>
            <p> This Is Fatma Khaled The Owner And Founder Of The Amazing Website php</p>
            <i class="fa fa-google-plus fa-lg" ></i>
            <i class="fa fa-facebook fa-lg" ></i>
            <i class="fa fa-twitter fa-lg" ></i>
            <i class="fa fa-youtube fa-lg"></i>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
